.card-header
{
   background-color:rgb(0, 0, 0);
   
}
.card-body
{
   background-color:rgb(0, 0, 0);

}
.card-footer
{
   background-color:rgb(0, 0, 0);
}

 .card-container {
  
   background-color:rgb(0, 0, 0);
   
 }
.error
{ 
   background-color: rgba(175, 88, 88, 0.39);
}