<div class="jumbotron jumbotron-fluid">
  <!--Jumbotron showing image-->
  <h1 class="h1">Welcome to Stranger Things Ratings</h1>

</div>
<div class="container" style="margin-top: 50px">

  <!-- iframes display embedded Youtube links-->
  <div class="row">
    <div class="col-sm-4">
      <h1>Watch the Stranger Things Season 1 Trailer!</h1>
    </div>
    <div class="col-sm-8">
      <iframe class="video" [class.thumbnail]="thumbnail" [src]="season1" width="852" height="480" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <h1>Watch the Stranger Things Season 2 Trailer!</h1>
    </div>
    <div class="col-sm-8">
      <iframe class="video" [class.thumbnail]="thumbnail" [src]="season2" width="852" height="480" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-4">
      <h1>Watch the Stranger Things Season 3 Trailer!</h1>
    </div>
    <div class="col-sm-8">

      <iframe class="video" [class.thumbnail]="thumbnail" [src]="season3" width="852" height="480" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>